



body{
    background-image:  url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg ) ;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center center;   
}
.logo{ 
    width: 49px;
    bottom: 0;
    position: relative ;
    left: 3%;
}
#vxod{ 
   border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transform: color 0.3s ease;
   font-size: 30px;

}
#vxod:hover{
 color: white;
}

.container2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-decoration: none;
    width: 5%;
margin-left: 0px auto;
margin-top: -3vmax;


}
header a {
    margin-left: 120px;
    text-decoration: none;
    font-size: 25px;
    width: 50px;
    color: black;
    transform:color 0.3s;
    
    }
header.container2:hover{
    color: #3816A6;
    
    
}
#opisani{ 
   margin-top: -20px;
}
#video{ 
 position: relative;
 left: 550px;
 border: 1px solid purple;
 border-radius: 10px;
}
#opisani{
    position: relative;
    top: 5vmax;
    left: 10px;
    font-weight: 900;
    font-size: 40px;
    width:690px ;
    height: 40px;
}
#perexod{ 
    position: relative;
   top: -8vmax;
   left: 10px;
    border: 1px solid white;
    background-color: #02092a;
    color:white;
    font-size: 25px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  
}
#perexod:hover{ 
    color: darkcyan
}
#h1{ 
    content: normal;
    position: relative;
    left: 19vmax;
    font-size: 40px;
    font-weight: 900;

}
#opisanie{ 
    font-size: 20px;
    position: relative;
    top: -30px;
   left: 20vmax;
    line-height: 1;
   text-align:center;
   width:700px ;
   height: 50px; 
   

}
.container{ 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.image{ 
    margin: 108px; 
}
.text{ 
    text-align:start;
}
#vigoda{ 
    position: relative;
    right: 60px;
}
#konekt{ 
    position: relative;
    left: 35px;
}
#infa{ 
    position: relative;
    right: 30px;
}

