@media (min-width:1200) {
    body{
      max-width: 90%;
    }
      
  }
  
  @media (min-width:992) {
     body{
      max-width: 50%;
     }
  }
  
  @media (min-width:768) {
      body{
          max-width: 30%;
         }
         header a { 
            font-size: 14px;
         }
         #perexod{ 
            top: auto;
         }
  }
  
  @media (min-width:480) {
      body{
          max-width: 20%;
         }
         header a{ 
            font-size: 10px;
         }
  }
  
  @media (min-width:320) {
      body{
          max-width: 10%;
         }
         header a { 
            font-size: 5px;
         }
  }

  @media (min-width:100) {
    body{
        max-width: 10%;
       }
       header a { 
          font-size: 10px;
       }
}


body{
    background-image:  url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg ) ;
    background-size:cover;
    
     
}
.logo{ 
    width: 49px;
    bottom: 0;
    position: relative ;
   
    left: 3%;
}
#vxod{ 
    position: absolute;
top: 12px;
left: 1100px;
    font-size: 30px;
    background-color: transparent;
    border: 1px solid white;
   color: black;
    transform: color 0.3s ease;
    border-radius: 10px;
}
#vxod:hover{
 color: white;
}
header a{
margin-left: 100px;
text-decoration: none;
left: 60px;
top: -60px;
position: relative;
font-size: 25px;
color: black;
transform:color 0.3s;

}
a:hover{
    color: #3816A6;
    
    
}
#opisani{ 
   margin-top: -20px;
}
#video{ 
 position: relative;
 left: 600px;
 top: -9cap;
 border: 1px solid purple;
 border-radius: 10px;
}
#opisani{
    position: relative;
    top: -5px;
    left: 10px;
    font-weight: 900;
    font-size: 40px;
    width:690px ;
    height: 40px;
}
#perexod{ 
    position: relative;
   top: -230px;
   left: 10px;
    border: 1px solid white;
    background-color: #02092a;
    color:white;
    font-size: 25px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  
}
#perexod:hover{ 
    color: darkcyan
}
#h1{ 
    content: normal;
    text-align: center;
    font-size: 40px;
    font-weight: 900;

}
#opisanie{ 
    font-size: 20px;
    position: relative;
    top: -30px;
   left: 300px;
    line-height: 1;
   text-align:center;
   width:700px ;
   height: 50px; 
   

}
.container{ 
    display: flex;
    flex-wrap: wrap;
}
.image{ 
    margin: 108px; 
}
.text{ 
    text-align:start;
}
#vigoda{ 
    position: relative;
    right: 60px;
}
#konekt{ 
    position: relative;
    left: 35px;
}
#infa{ 
    position: relative;
    right: 30px;
}
#xz{ 
    display: inline-block;
    padding: 7px;
    border: 2px solid black ;
    text-decoration: none;
    font-size: 25px;
    border-radius: 15px;
    position: relative;
    left: 1000px; 
    top: -110px;
    color: black;
  transform: color, padding, left  3s ease;
   }
